*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: pointer;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(45deg,#222,#4444);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-size: 42px;
    text-align: center;
}
div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}